*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    background-color: #232323 ;
}
h1{
    text-align: center;
    color: white;
    background-color: rgb(7, 148, 7);
    padding: 10px;
    font-family: monospace;
    font-size: 40px;
    font-weight: normal;

}

#container{
    max-width: 600px;
    margin: 0 auto;
    /* border: 2px solid white; */
}

#container::after{
    content: '';
    display: block;
    clear: both;
}

#stripe{
    background-color: white;
    height: 40px;
    text-align: center;
    color: black;
    margin-bottom: 20px;
    margin-top: 10px;
}
.selected{
    background-color:rgb(7, 148, 7) ;
    color: white;
    border: none;
}

button{
    display:inline-block;
    width: 230px;
    margin-left: 20px;
    border: none;
    background: none;
    text-transform: uppercase;
    height: 104%;
    padding-left: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color:rgb(7, 148, 7) ;
    letter-spacing: 1px;
    
}
button:hover{
    color: white;
    background-color:rgb(7, 148, 7) ;
    transition: 0.5s;
}
#message{
    display: inline-block;
    width: 20%;
    font-size: 30px;
    margin-left: 250px;
    line-height: 40px;
    font-family: monospace;
}
#reset{
    float: left;
}
 #easyBtn, #hardBtn{
     float: right;
 }
 #easyBtn{
     margin-right: 10px;
 }

.square{
    width: 30%;
    /* background-color: purple; */
    /* as the div is empty, so to make the squares appear we have used padding-bottom*/
    padding-bottom: 30%;         
    float: left;
    margin: 1.66% ;
    border-radius: 30px;
    transition: 0.5s;
    -moz-transition: 0.5s;

}

.footer{
    background-color: rgb(50, 50, 110);
    color: white;
    font-size: 15px;
    margin-top: 70px;
    text-align: center;
    font-family: sans-serif;
}
.footer a{
    color: rgb(146, 146, 199);
}

